:root {
  --primary: #3D9970;
  --secondary: aliceblue;
  --darkgreen: #093a3e;
}


/* @import "~bootstrap/scss/bootstrap"; */
.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  color: var(--primary);
  text-decoration: none;

}

.header {
  /* background: linear-gradient(to bottom, var(--primary), #deeefc); */
  background-color: var(--secondary);
}

.navLink {
  color: var(--primary);
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.navLink span {
  margin-left: 0.3rem;

}

.navLink:hover {
  /* margin-left: 0.3rem; */
  /* transform: scale(1.1);
  transition-duration: 0.3s; */
  color: var(--darkgreen);
}

.contactUsBg::before {
  content: "";
  background: url("../src/images/hero-img-2.jpg") rgba(151, 222, 164, 0.212);
  background-blend-mode: multiply;
  background-size: cover;
  /* position:static; */
  position: absolute;
  top: -7rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.lineClamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}