:root {
  --primary: #3D9970;
  --secondary: aliceblue;
  --darkgreen: #093a3e;
}


/* @import "~bootstrap/scss/bootstrap"; */
.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  color: var(--primary);
  text-decoration: none;

}

.text-darkGreen {
  color: var(--darkgreen);
}

.text-lightGreen {
  color: var(--primary);
}

.header-color {
  /* background: linear-gradient(to bottom, var(--primary), #deeefc); */
  /* background-color: #3d99702a; */
  background-color: rgba(0, 0, 0, 0.114);
}

.header-color-scroll {
  background-color: rgba(0, 0, 0, 0.838);
}

.strip-color {
  background-color: #3d9970f6;
  color: whitesmoke;
  align-content: center;
  justify-content: center;
}

.navLink,
.navLink-scroll,
#nav-dropdown {
  color: var(--primary);
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.navLink span,
.navLink-scroll span,
#nav-dropdown {
  margin-left: 0.3rem;

}

.navLink:hover,
.navLink.active {
  color: var(--darkgreen);
}

.navLink-scroll:hover,
.navLink-scroll.active {
  color: azure;
}

.contactUsBg::before {
  content: "";
  background: url("../src/images/hero-img-2.jpg") rgba(151, 222, 164, 0.212);
  background-blend-mode: multiply;
  background-size: cover;
  /* position:static; */
  position: absolute;
  top: -7rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.lineClamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}



/* for plant care page */

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}


/* 3. Billboard
/*----------------------------------------------*/

/*------------ Icon Box -----------*/
#billboard .icon-box .box-title {
  font-family: var(--darkgreen);
  font-size: 1.4em;
  color: var(--primary)
}

#billboard .icon-box p,
#billboard .icon-box .icon-number span {
  font-family: var(--darkgreen);
  font-size: 1.1em;
}

#billboard .icon-box p {
  line-height: 1.5;
}

#billboard .icon-box .icon-number {
  width: 60px;
  height: 60px;
}

#billboard .icon-box .icon-content {
  width: 70%;
}


/* 4. Featured Products
/*----------------------------------------------*/
#featured-products img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-position .card-body {
  right: 0;
  bottom: 70px;
  left: 70px;
}

.product-position .card-body h2.section-title {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .product-position .card-body {
    bottom: 10px;
    left: 20px;
  }
}

.mainBodySection {
  margin-top: 3.7rem;
}

.-mt-5 {
  margin-top: -2.4rem;
}

.bgImage {
  background-image: url('../src/images/tropical-green-leaves-background_53876-88891.avif');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.welcomeText,
.planthubText {
  font-size: 4rem;
  font-weight: bolder;
}

.welcomeText {
  color: var(--primary);
}

.planthubText {
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('../src/images/tropical-green-leaves-background_53876-88891.avif');
}

.taglineText {
  color: var(--darkgreen);
  /* filter: drop-shadow(5px 5px 3px var(--darkgreen)); */
  font-size: x-large;
  font-weight: 600;
}

.accordion-button,
.accordion-button1 {
  background-color: var(--primary);
  color: var(--secondary);
}

.authPage {
  height: 100vh;

}

.filter {
  background: #ebf8f26b;
  backdrop-filter: blur(1px);
  height: 91.4vh;
  width: 51vw;
  margin-left: -1rem;
}

.halfImg {
  background-image: url('https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?cs=srgb&dl=pexels-suzy-hazelwood-2382325.jpg&fm=jpg');
  height: 91.4vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:467px) {
  .halfImg {
    display: none;
  }
}

.mainScreen {
  /* padding: 15% 10%; */
  border-radius: 10px;
  transform: translate(0, -80vh);
  margin: 0 auto;
  width: 70vw;
}

.potImg {
  background-image: url('https://www.shutterstock.com/image-photo/monstera-pot-black-isolated-on-600nw-2145061179.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
  border-radius: 10%;
}

.wholePage {
  overflow-y: hidden;
  height: 91.4vh;
  /* background-color: pink; */
}

.login-with-google-btn,.logout-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(194, 247, 194);
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

}

.logout-with-google-btn {
  background-color: rgba(134, 134, 134, 0.402);
}