:root {
  --primary: #3D9970;
  --secondary: aliceblue;
  --darkgreen: #093a3e;
}


/* @import "~bootstrap/scss/bootstrap"; */
.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  color: var(--primary);
  text-decoration: none;

}

.header-color {
  /* background: linear-gradient(to bottom, var(--primary), #deeefc); */
  /* background-color: #3d99702a; */
  background-color: rgba(0, 0, 0, 0.114);
}
.header-color-scroll {
  background-color: rgba(0, 0, 0, 0.838);
}
.strip-color{
  background-color: #3d9970f6;
  color: whitesmoke;
  align-content: center;
  justify-content: center;
}
.navLink,.navLink-scroll,#nav-dropdown {
  color: var(--primary);
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.navLink span,.navLink-scroll span,#nav-dropdown{
  margin-left: 0.3rem;

}

.navLink:hover,.navLink.active {
  color: var(--darkgreen);
}
.navLink-scroll:hover,.navLink-scroll.active{
  color: azure;
}
.contactUsBg::before {
  content: "";
  background: url("../src/images/hero-img-2.jpg") rgba(151, 222, 164, 0.212);
  background-blend-mode: multiply;
  background-size: cover;
  /* position:static; */
  position: absolute;
  top: -7rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.lineClamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}



/* for plant care page */

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

